
	
		<div class="jumbotron">
		    <h1 class="display-3">Discover new wines with YNDB</h1>
		    <p>A whole world of wine knowledge at your finger tips.
		    </p>
  		</div>
	
<!-- start of images -->
		<div class="marketing">
			<div class="row">
				<div class="col-md-4 wine-selection" >
					<a href='#/popular'>
						<h2>Popular Wines</h2>
						<img class="img-responsive home img-circle" src="img/vinyardmedium.jpg">
					</a>
				</div>
				<div class="col-md-4 wine-selection" >
					<a href='#/red'>
						<h2 >Red Wines</h2>
						<img class="img-responsive home img-circle" src="img/REA43MQXPO.jpg">
					</a>
				</div>
				<div class="col-md-4 wine-selection">
					<a href='#/white'>
						<h2>White Wines</h2>
						<img class="img-responsive home img-circle"  src="img/bottlesmedium.jpeg">
					</a>
				</div>
			</div>
		</div>
	<!-- end of images -->




