<div class='container'>
	<div class='container'>

	 	<div class="navbar-wrapper">
	        <nav class="navbar navbar-inverse navbar-static-top">
	          <div class="container">
	            <div class="navbar-header">

	              <a class="navbar-brand" href="#/home">YNDB</a>
	            </div>
	            <div id="navbar" class="navbar-collapse collapse">
	              <ul class="nav navbar-nav">
	                <li><a	href='#/popular'>Popular</a></li>
		 			<li><a	href='#/red'>Red</a></li>
					<li><a	href='#/white'>White</a></li>
	              </ul>
	            </div>
	          </div>
	        </nav>

	    </div>
	</div>
	<div class="container">
		<div class="jumbotron">
		    <h1 class="display-3">Discover new wines with YNDB</h1>
		    <p>A whole world of wine knowledge at your finger tips.
		    </p>
  		</div>
	</div>
<!-- start of carousel -->
	<div class="container">
			<div class="row">
				<div class="col-md-4 wine-selection" >
					<img class="img-responsive home" src="img/REA43MQXPO.jpg">
				</div>
				<div class="col-md-4 wine-selection" >
					<img class="img-responsive home" src="img/vinyardmedium.jpg">
				</div>
				<div class="col-md-4 wine-selection">
					<img class="img-responsive home"  src="img/bottlesmedium.jpeg">
				</div>
			</div>
    </div>
	<!-- end of carousel -->
</div>



