<div class='container'>
	
	<!-- START of navbar -->

	 <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">YNDB</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
              	<li><a href='#/popular'>Popular</a></li>
		 		<li><a	href='#/red'>Red</a></li>
				<li><a	href='#/white'>White</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

	<!-- END of navbar -->
	
		<div class="jumbotron">
		    <h1 class="display-3">Discover new wines with YNDB</h1>
		    <p>A whole world of wine knowledge at your finger tips.
		    </p>
  		</div>
	
<!-- start of images -->
		<div class="marketing">
			<div class="row">
				<div class="col-md-4 wine-selection" >
					<h2><a href='#/popular'>Popular Wines</a></h2>
					<img class="img-responsive home img-circle" src="img/vinyardmedium.jpg">
				</div>
				<div class="col-md-4 wine-selection" >
					<h2 ><a href='#/red'>Red Wines</a></h2>
					<img class="img-responsive home img-circle" src="img/REA43MQXPO.jpg">
				</div>
				<div class="col-md-4 wine-selection">
					<h2><a href='#/white'>White Wines</a></h2>
					<img class="img-responsive home img-circle"  src="img/bottlesmedium.jpeg">
				</div>
			</div>
		</div>
	<!-- end of images -->
</div>



