
	<!-- START of Jumbotron -->
	
		<div class="jumbotron">
		    <h1 class="display-3">Discover new wines with YNDB</h1>
		    <p>A whole world of wine knowledge at your finger tips.
		    </p>
		    <h2>{{title}}</h2>
  		</div>
	
		<!-- END of Jumbotron -->

	<!--START images to appear only when page is loading  -->

	
	
 		<!-- <div  ng-show='loading'>
				<div class="row">
					<div class="col-md-4 wine-selection" >
						<img class="img-responsive home img-circle" src="img/vinyardmedium.jpg">
					</div>
					<div class="col-md-4 wine-selection" >
						<img class="img-responsive home img-circle" src="img/REA43MQXPO.jpg">
					</div>
					<div class="col-md-4 wine-selection">
						<img class="img-responsive home img-circle"  src="img/bottlesmedium.jpeg">
					</div>
				</div>
			
		</div> 
	 -->

		<!--END images to appear only when page is loading  -->

		<!-- START of list of wines -->
	<div class="marketing">
		<div class='row'>
			<div ng-repeat="wine in wineList">
				<div class="col-lg-4 col-md-6  wine-selection" >
					<a href="#/wine/{{wine.Id}}">
						<wine-info-box info="wine"></wine-info-box>
					</a>
				</div>
			</div>
		</div>
		
		<!-- END of list of wines -->
	</div>
	




